.vs/App_Estudiantes_Universitarios/FileContentIndex/46829199-b340-427a-852e-ba244b180005.vsidx
App_Estudiantes_Universitarios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
App_Estudiantes_Universitarios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
App_Estudiantes_Universitarios/obj/Debug/App_Estudiantes_Universitarios.csproj.GenerateResource.cache
App_Estudiantes_Universitarios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
